<h1>Login:</h1>

<form method="POST" action="<%=session_url%>">
  <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
  <label for="username">Username:</label>
  <input id="username" type="input" name="user[username]" />

  <label for="password">Password:</label>
  <input id="password" type="password" name="user[password]" />

  <input type="submit" value="Submit" />
</form>
